# Ignore large/build directories
Python-3.13.0/
gcc-16.1.0/
openmpi-5.0.4/

modules/Python-*/
modules/gcc-*/
modules/openmpi-*/
# Optional: ignore compiled/build stuff
*.o
*.out
*.log
__pycache__/
*.pyc

# Ignore temporary files
*.tmp
*.swp
# Ignore tar files
*.tar.gz
*.tar
*.gz

# Ignore benchmark outputs
benchmark/hpl/hpl_outputs/
benchmark/stream/stream_outputs/

# Ignore extracted build folders if needed
benchmark/hpl/hpl-2.3/
benchmark_backup/
# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Logs
*.log
